{{# if products }}
<div class="jumbotron">
    <div class="header">
        <h1>Shopping Cart</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2">
        <ul class="list-group">
            {{# each products }}
            <li class="list-group-item item">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 image">
                            <img src="/{{this.item.imagePath}}" alt="..." class="img-responsive">
                        </div>
                        <div class="col-sm-3 item-title">
                            <span class="item-title">
                                <strong>{{ this.item.title }}</strong>
                            </span>
                            <span class="badge">{{ this.qty }}</span>
                        </div>
                        <div class="col-sm-3">
                            <p class="item-cost">${{ this.price }}</p>
                            <div class="btn-group item-btn">
                                <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/reduce/{{this.item._id}}">Reduce by 1</a>
                                    </li>
                                    <li>
                                        <a href="/remove/{{this.item._id}}">Remove All</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-md-8 col-md-offset-2 col-sm-offset-2 cart-total items-panel">
        <strong>Total: ${{ totalPrice }}</strong>
        <a href="/checkout" type="button" class="btn btn-success checkout">Checkout</a>
    </div>
</div>
{{ else }}
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 card text-center">
        <h2>No Items in Cart</h2>
    </div>
</div>
{{/if}}
<script>
    // Use as background image on main page
    var showcase = document.querySelector('body');
    showcase.style.background = "url(/images/background3.jpeg)";
    showcase.style.backgroundSize = "cover";
    showcase.style.backgroundPosition = "center";
    showcase.style.backgroundRepeat = "no-repeat";
</script>